@font-face {
  font-family: "Montserrat";
  src: url("../static/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../static/fonts/montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../static/fonts/montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../static/fonts/montserrat/Montserrat-Light.ttf");
}
