.index-background {
    background: url('../img/Foto-Index2019-Woman.jpg') no-repeat center;
    background-size: cover;

    .hero-head {
        background-color: $red;
    }

    .save-the-date {
        padding-bottom: 50px;

        img {
            max-width: 480px;

            @media #{$tablet-down} {
                width: 100%;
                max-width: auto;
            }
        }

        .hashtag {
            font-weight: 600;
            color: $white;
        }
    }

    .ticket-button {
        min-width: 350px;

        @media #{$mobile-only} {
            min-width: auto;
            width: 100%;
        }
    }

    .clock-columns {
        @media #{$tablet-down} {
            margin-left: 0;
            margin-right: 0;
        }

        .clock-column {
            padding: 50px 0;

            @media #{$mobile-only} {
                padding: 0;
            }

            #clock {
                font-weight: bold;
            }
        }
    }
}