@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Colors */
$green: #0db14b;
$white: #FFF;
$yellow: #fbbe4a;
$turchese: #5bc4b2;
$viola: #693389;
$cian: #52a7db;

/* Derived colors */
$navbar-background-color: $cian;
$button-border-color: $white;
$button-hover-border-color: $white;
$button-active-border-color: $white;
$button-disabled-border-color: $white;
$button-focus-border-color: $white;
$button-static-border-color: $white;
$button-border-width: 0;

/* Fonts */
$font-family: 'Montserrat', sans-serif;
$family-sans-serif: 'Montserrat', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* == Responsive
===================================================== */

$mobile: 320px;
$tablet: 768px;
$desktop: 980px;
$wide: 1400px;
$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
$tablet-min: $tablet;
$tablet-vert: $tablet;
$desktop-max: 1400px;
$phablet-min: 560px;
$ipadpro-landscape-max: 1366px;
// usage
// @media #{$mobile-only} {}
$mobile-only: "(max-width: "+$mobile-max+")";
$tablet-only: "(min-width: "+$tablet+") and (max-width: "+$tablet-max+")";
$desktop-only: "(min-width: "+$desktop+")";
$phablet-up: "(min-width: "+$phablet-min+")";
$phablet-down: "(max-width: "+$phablet-min+")";
$tablet-up: "(min-width: "+$tablet+")";
$tablet-down: "(max-width: "+$tablet-max+")";
$tablet-min-down: "(max-width: "+$tablet-min+")";
$tablet-min-up: "(min-width: "+$tablet-min+")";
$ipadpro-landscape-down: "(max-width: "+$ipadpro-landscape-max+")";

// Import only what you need from Bulma
@import "~bulma/bulma.sass";